.logo {
  margin: -12px -12px 12px -12px;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: #f3f2f1;
}

.logo svg {
  width: 40px;
}

.logo h1 {
  font-size: 1.5rem;
}
