body {
  margin: 0;
}

.bold {
  font-weight: bold;
}

.row {
  padding: 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row-name {
  width: 90px;
}

.row-identifier {
  background-color: #f3f2f1;
}

.row-value {
  margin-left: 0.25rem;
}

.collapsible {
  margin-left: 0.5rem;
}

.chevron {
  cursor: pointer;
}

.chevron:hover {
  text-decoration: none;
  background-color: #f3f2f1cf;
}
