/* Variables */

:root {
  --gray: #f3f2f1;
  --dark-gray: #5f6368;
  /* --blue: #4d90fe; */
  --blue: #3079ed;
  --gray-hover: rgba(0, 0, 0, 0.05);
}

/* Main */

html {
  font-size: 12px; /* Base size for rem */
}

body {
  margin: 0;
}

/* Buttons */

input[type="checkbox"] {
  margin: 0;
}
