:root {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;

  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --gray: #f3f2f1;
}

body {
  margin: 0 auto;
  width: 300px;
}
